.response-card {
  background: #ffffff;
  border: 0.2px solid #464855;
  padding: 0.7rem;
  position: relative;
  margin-bottom: 1rem;
}

.blog-comment-section {
  width: 70%;
}

.reply-card {
  background: rgba(30, 115, 232, 0.03);
  border: 1.25167px solid #ffffff;
  border-radius: 5.00669px;
  padding: 1.5rem;
}

.reply-input {
  width: 80% !important;
  border-radius: 0 !important;
}

.reply-btn {
  border-radius: 0 !important;
}

.post-time {
  color: #c4c4c4;
  font-size: 14px;
}

.fb-btn {
  background-color: #4469b0;
  border: none;
  margin-right: 0.7rem;
}
.twt-btn {
  background-color: #2696dd;
  border: none;
}

.reactions {
  position: absolute;
  right: 0;
  bottom: 0.1rem;
  padding: 0.1rem 0.2rem;
}

.reactions li {
  padding: 0 0.4rem;
}

@media screen and (max-width: 768px) {
  .blog-comment-section {
    width: 100%;
  }
}
